# === Unreal Engine Temp Files ===
Binaries/
Intermediate/
DerivedDataCache/
Saved/
obj/
*.sln
*.suo
*.user
*.db
*.opendb

# === Node.js & TypeScript ===
node_modules/
# dist/
# out/

# === Plugins not included in this repository ===
UnrealClientProtocol/

# === Large third-party binaries ===
Puerts/ThirdParty/

# === OS Files ===
.DS_Store
Thumbs.db
